{% if page.website %}
<li
  title='Product website'>
  <a href="{{ page.website }}" class="link-web">
    <i class="fas fa-globe"></i>
  </a>
</li>
{% endif %}
{% if page.shop %}
<li
  title='Provider shop'>
  <a href="{{ page.shop }}" class="link-web">
    <i class="fas fa-shopping-cart"></i>
  </a>
</li>
{% endif %}
{% if page.binaries %}
<li title='Binaries'>
  <a href="{{ page.binaries }}" class="link-web">
    <i class="fa fa-file-archive"></i>
  </a>
</li>
{% endif %}
{% if page.providerTwitter %}
<li title='Provider Twitter profile'>
  <a href="https://twitter.com/{{ page.providerTwitter }}" class="link-twitter">
    <i class="fab fa-twitter"></i>
  </a>
</li>
{% endif %}
{% if page.providerFacebook %}
<li title='Provider Facebook profile'>
  <a href="https://www.facebook.com/{{ page.providerFacebook }}" class="link-facebook">
    <i class="fab fa-facebook-f"></i>
  </a>
</li>
{% endif %}
{% if page.providerReddit %}
<li title='Provider sub-Reddit'>
  <a href="https://www.reddit.com/r/{{ page.providerReddit }}" class="link-reddit">
    <i class="fab fa-reddit"></i>
  </a>
</li>
{% endif %}
{% if page.providerLinkedIn %}
<li title='Provider Linkedin profile'>
  <a href="https://www.linkedin.com/company/{{ page.providerLinkedIn }}" class="link-linkedin">
    <i class="fab fa-linkedin-in"></i>
  </a>
</li>
{% endif %}
{% if page.repository %}
<li title='Source repository'>
  <a href="{{ page.repository }}" class="link-github">
    <i class="fa fa-file-code"></i>
  </a>
</li>
{% endif %}
{% if page.issue %}
<li title='Issue on source repository'>
  <a href="{{ page.issue }}" class="link-bug">
    <i class="fa fa-bug" aria-hidden="true"></i>
  </a>
</li>
{% endif %}
